<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Danh sách phiếu ghi nợ</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <input nbInput placeholder="Từ ngày ---- Đến ngày" [nbDatepicker]="rangepicker" class="form-control">
              <nb-rangepicker (rangeChange)="pickerDate($event)" format="MM.dd.yyyy" #rangepicker  ></nb-rangepicker>
            </div>
          </div>
          
        </div>
        <div class=form-group> 
          <div class="row">
            <div class="col-md-12">
              <ng2-smart-table [settings]="settings" [source]="list" 
              (deleteConfirm)="onDeleteConfirm($event)"
              ></ng2-smart-table>
            </div>
            
          </div>
          
        </div>
        
      </nb-card-body>
    </nb-card>
  </div>
    
  </div>
  